.sidedrawer{
    width: 70%;
    height: 100vh;
    background: linear-gradient(180deg, #d8d6d6 0%, pink 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: all .4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidedrawer.show{
    transform: translateX(0);
}
.sidedrawer_links{
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
}
.sidedrawer_links > li{
    display: flex;
    align-items: center;
}
.sidedrawer_links > li > a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight:bold;
}
.sidedrawer_links > li > a:hover{
    background: rgb(48, 46, 46);
    color: #fff;
    transition: all ease-in .4s;
}
.sidedrawer_links > li > a > span{
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.sidedrawer_cartbadge{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(34, 32, 32);
    color: white;
    font-size: 1rem;
    margin-left: 5px;
}
@media (min-width: 900px){
    .sidedrawer{
        display: none;
    }
}

